<div class="row">
  <h1 class="text-center">Proyectos Realizados</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 uno">
      <h2>Nombre del proyecto</h2>
      <h3>Descripción</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        iusto sequi similique asperiores earum sapiente aut beatae labore veniam
        nostrum dolore vero dolorem alias, quibusdam harum reprehenderit?
        Corporis, quaerat ab.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 dos">
      <!--offset separa por 1 columna-->
      <img
        src="../../../assets/proyectojaja.png"
        alt="I,agen del Proyecto..."
        class="img-fluid img-proyecto"
      />
    </div>
  </div>
</div>
