<div class="row">
  <h1 class="text-center">Skills</h1>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'HTML'"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'CSS'"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'JS'"
    [titleColor]="'black'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [imageSrc]="'../../../assets/iconos/js.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showImage]="true"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'TS'"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'Spring'"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  <circle-progress
    class="text-center col-sm-1 col-md-1 col-lg-1"
    [percent]="85"
    [radius]="60"
    [title]="'Angular'"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
