<div class="row">
  <div class="foto col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      id="foto"
      src="../../../assets/logos/foto_German1.jpg"
      class="img-fluid"
      alt="Foto German Cleiman"
    />
  </div>
  <div class="col-xs-12 col-sm-3 col-sm-3 col-lg-3">
    <h2 id="nombre">Cleiman German</h2>
    <h3>Full Stack Developer Jr.</h3>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-7 col-lg-7">
    <h1>Acerca de mí</h1>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, deleniti
      illum eaque, commodi dignissimos repellendus tempora rem vel nemo odit
      quidem asperiores voluptas eius, laborum porro! Cum eos repellat fuga.
    </span>
  </div>
</div>
