<div class="row">
  <div class="container">
    <div class="logo">
      <img
        src="../../../assets/logos/APLogo.png"
        alt="Logo Argentina Prograna"
        id="logo"
      />
    </div>
    <div class="redes">
      <a href="https://www.linkedin.com/in/german-cleiman-054244221/"
        ><img src="../../../assets/logos/linkedin.png" alt="Logo Linkedin"
      /></a>
      <a href="https://twitter.com/Cleiman_German"
        ><img src="../../../assets/logos/twitter.png" alt="Logo Twitter"
      /></a>
      <a href="https://www.instagram.com/germancleiman/"
        ><img src="../../../assets/logos/instagram.png" alt="Logo Instagram"
      /></a>
      <a href="https://github.com/GermanCleiman"
        ><img src="../../../assets/logos/github.png" alt="Logo Guithub"
      /></a>
      <a href="https://www.facebook.com/cleimangerman"
        ><img src="../../../assets/logos/facebook.png" alt="Logo Facebook"
      /></a>
      <button type="button" class="btn btn-outline-light">Login</button>
    </div>
  </div>
</div>
